<div class="main-page">
  <div class="title-bar">
    <p class="text" (click)="move('setting')" ><i class="fa fa-solid fa-gear icon "></i> <span class="setting">Settings</span> </p>
    <p class="text2"> <span class="lag">English</span><i class="fa fa-regular fa-globe icon" ></i></p>
  </div>

  <div class="main">
    <p class="welcome">Welcome to <br /> Almanara Restaurants</p>
    <img class="logo" src="../../../assets/logo.png" alt="logo" width="200" height="200" >
  </div>

  <div class="center-content">
    <button (click)="move('menu')" class="view">View Menu</button>
  </div>
</div>
